{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snake game by sajid</title>
    <link rel="stylesheet" href="{% static 'snake/css/style.css' %}">
</head>
<body>
    <div class="body">
        <div id="scoreBox">Score:0</div>
        <div id="highScoreBox">HighScore : 0</div>
        <div class="board" id="board"></div>
    </div>

    <script>
      const STATIC_AUDIO_PATH = "{% static 'snake/audio/' %}";
    </script>

    <script src="{% static 'snake/js/index.js' %}"></script>
</body>
</html>